.gradle/
build/
classes/
bin/
out/

.classpath
.settings
.project

*.iml
*.ipr
*.iws
.idea

atlassian-ide-plugin.xml

.DS_Store
test-output
.externalToolBuilders
*~
hs_err*
hotspot.log
*.orig

rebel.xml
