<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="contrib.springframework.data.gcp" level="TRACE"/>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.context.annotation" level="TRACE"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
